<div class="payments-confirm-unsubscribe container">
    <div class="panel">
        <div class="panel-heading">
            Cancel Subscription Confirmation
        </div>

        <div class="panel-body">
                    <h2>Are you sure you want to cancel your subscription?</h2>
                    <button class="btn action-button" ng-click="cancelSubscription()">Cancel Subscription</button>
                    <button class="btn action-button" ng-click="continueSubscription()">Continue using subscription
                    </button>
        </div>
    </div>

</div>