<div class="row">
    <div class="col-xs-12 ">
        <div class="videogular-container" ng-class="{'audio': item.type == 'audio', 'video': item.type == 'video'}">
            <videogular vg-player-ready="onPlayerReady($API)" vg-update-time="onUpdateTime($currentTime, $duration)"
                        vg-theme="mediaconfig.theme.url" class="videogular-container"
                        ng-class="{'audio': item.type == 'audio', 'video': item.type == 'video'}">
                <vg-media ng-if="item.type == 'video'" vg-src="mediaconfig.sources" vg-type="video"></vg-media>
                <vg-media ng-if="item.type == 'audio'" vg-src="mediaconfig.sources" vg-type="audio"></vg-media>

                <vg-controls>
                    <vg-play-pause-button></vg-play-pause-button>
                    <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-scrub-bar>
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    </vg-scrub-bar>
                    <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                    <vg-playback-button vg-speeds='mediaconfig.playbackSpeeds'></vg-playback-button>
                    <vg-volume>
                        <vg-mute-button></vg-mute-button>
                    </vg-volume>
                </vg-controls>
            </videogular>
        </div>

    </div>
    <div class="col-xs-12">
        <div class="srt_wrapper">
            <div class="srt_container">
                <p class="srt_line" ng-if="item.srt.length" ng-repeat="line in item.srt">
                    <span class="srt_word chinese-hoverable" ng-click="searchWord(word.text)" ng-repeat="word in line" ng-class="{'srt_word__highlited': word.id == currentTextId, 'srt_word__clicked': word.text == selectedWord.simplified}" scroll-on-update="word.id">{{ word.text }}</span>
                </p>
            </div>
        </div>
    </div>
</div>



