<div class="container" ng-controller="ArrangeCardsController">
    <div class="row">
        <div class="col-xs-12 col-md-5 col-lg-5">
            <div class="panel test-settings card-categories">
                <div class="panel-heading">Flashcard Categories</div>
                <!-- private lists -->
                <div style="padding:3px;">
                    <button class="long-btn btn btn-sm" ng-click="showPublicLists=!showPublicLists; tableEmpty()">
                        <span ng-if="showPublicLists">Click to Return to Your Lists</span>
                        <span ng-if="!showPublicLists">Click to Find New Lists (HSK, Textbooks, Themes etc.)</span>
                    </button>
                </div>
                <div class="panel-body" ng-if="!showPublicLists">
                    <table class="table table-striped">
                        <tr ng-click="selectCategory(category)" ng-class="{'selected-category': category.selected}"
                            ng-repeat="category in categories" style="cursor: pointer;">
                            <td> {$ category.name $}</td>
                            <td> {$ category.cards_count $}</td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer" style="padding-right: 5px;" ng-if="!showPublicLists">
                    <div class="row">
                        <div class="col-xs-12 col-lg-4 marginBottom" style="padding-right: 0;">
                            <span>Total Selected: </span>
                            <span ng-bind="getTotalSelected()"></span>
                        </div>

                        <div class="col-xs-12 col-lg-8" style="margin-left: 0;">
                            <span class="footer-buttons">
                                <button class="btn btn-sm" ng-click="openDialog('categoriesDelete')"
                                   ng-disabled="selectedCategories().length === 0 || isDefaultCategorySelected()"
                                   title="Delete Selected Categories">Delete</button>
                                <button class="btn btn-sm" ng-click="openDialog('categoriesCopy')"
                                   ng-disabled="selectedCategories().length === 0" title="Copy Selected Categories">Copy</button>
                                <button class="btn btn-sm" ng-click="openDialog('categoriesRename')" title="Rename Category"
                                   ng-disabled="selectedCategories().length !== 1 || isDefaultCategorySelected()">Rename</button>
                                <button class="btn btn-sm" ng-click="openDialog('categoriesNew')" title="Create New Category">New</button>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- public lists -->
                <div class="panel-body" ng-if="showPublicLists">
                    <table class="table table-striped">
                        <tr ng-click="selectPubCategory(pubcategory)" ng-class="{'selected-category': pubcategory.selected}"
                            ng-repeat="pubcategory in pubcategories" style="cursor: pointer;">
                            <td> {$ pubcategory.name $}</td>
                            <td> {$ pubcategory.cards_count $}</td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer" style="padding-right: 5px;" ng-if="showPublicLists">
                    <div class="row">
                        <div class="col-xs-12 col-lg-4 marginBottom" style="padding-right: 0;">
                            <span>Total Selected: {$ getTotalPubSelected() $}</span>
                        </div>

                        <div class="col-xs-12 col-lg-8" style="margin-left: 0;">
                        <span class="footer-buttons">
                            <a class="btn btn-sm" ng-click="openDialog('pubcategoriesSave')"
                               ng-disabled="selectedPubCategories().length == 0" title="Save Selected Lists">Save Selected Lists</a>
                          </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class=" col-xs-12 col-md-7 col-lg-7">
            <div class="panel test-settings selection-options">
                <div class="panel-heading">Cards</div>
                <form ng-if="!showPublicLists  && !scope.loading">
                    <div class="panel-body">
                        <div class="text-center">
                            <uib-pagination total-items="pagination.totalItems" items-per-page="pagination.pageSize" ng-model="pagination.currentPage" max-size="pagination.pageSize" class="pagination-sm" boundary-link-numbers="true" ng-change="changePage()" ng-show="selectedCategory && selectedCategory.cards.length"></uib-pagination>
                        </div>
                        <!--<button ng-if="selectedCategories().length" ng-repeat="i in pagination.getNumberAsArray(pagination.numberOfPages(selectedCategory)) track by $index" ng-click="pagination.setCurrentPage($index)">{$ $index + 1 $}</button>-->
                        <div class="table-responsive no-margin-bottom">
                            <table class="table table-striped table-condensed">
                                <tr ng-repeat="card in pagination.filteredCards ">
                                    <td>
                                        <input type="checkbox" value="{$ ::card.id $}" ng-model="card.selected"/>
                                    </td>
                                    <td style="white-space: nowrap">
                                        <a ui-sref="word({wordId: card.word.id})">{$ ::card.word.simplified $}</a>
                                    </td>
                                    <td>{$ ::card.word.pinyin_normalized $}</td>
                                    <td>
                                        <span class="meaning" ng-if="card.word.meanings_references.length"
                                              ng-repeat="meaning in card.word.meanings_references track by $index"><span ng-if="meaning">{$::$index+1 $}.{$::meaning|asHtml$}</span></span>
                                    </td>
                                    <td>{$ ::card.times_tested $}</td>
                                    <td>{$ (((card.score / (card.times_tested || 1)) / 4) * 100) | number:0 $}%
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="marginTop marginBottom text-center">
                            <span ng-if="getTotalSelected() <= 0">No cards in selected categories</span>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-3 col-lg-3">&nbsp;</div>

                            <div class="col-xs-12 col-md-9 col-lg-9">
                            <span class="footer-buttons">
                                <button class="btn btn-sm" ng-click="selectAllCards()" ng-if="!allCardsSelected">Select All</button>
                                <button class="btn btn-sm" ng-click="clearAllCards()" ng-if="allCardsSelected">Clear All</button>
                                <button class="btn btn-sm" ng-disabled="selectedCards().length <= 0" ng-click="cardsDelete()">Delete</button>
                                <button class="btn btn-sm" ng-disabled="selectedCards().length <= 0"
                                   ng-click="openDialog('cardsCopy')">Copy</button>
                                <button class="btn btn-sm" ng-disabled="selectedCards().length <= 0"
                                   ng-click="openDialog('cardsMove')">Move</button>
                            </span>
                            </div>
                        </div>
                    </div>
                </form>

                <form ng-if="showPublicLists  && !scope.loading">
                    <div class="panel-body">

                        <div class="text-center">
                            <uib-pagination total-items="pagination.totalItems" items-per-page="pagination.pageSize" ng-model="pagination.currentPage" max-size="pagination.pageSize" class="pagination-sm" boundary-link-numbers="true" ng-change="changePage()" ng-show="selectedPubCategory && selectedPubCategory.cards.length"></uib-pagination>
                        </div>
                        <table class="table table-striped table-condensed">
                            <tr ng-repeat="card in pagination.filteredCards" >
                                <td class="column">
                                    <input type="checkbox" value="{$::card.id $}" ng-model="card.selected"/>
                                </td>
                                <td class="column" style="white-space: nowrap">
                                    <a ui-sref="word({wordId: card.id})">{$::card.simplified $}</a>
                                </td>
                                <td class="column">{$::card.pinyin_normalized $}</td>
                                <td class="column">
                                    <span class="meaning" ng-if="card.meanings_references.length"
                                          ng-repeat="meaning in card.meanings_references track by $index"><span ng-if="meaning">{$::$index+1 $}.{$meaning|asHtml$}</span></span>
                                </td>
                            </tr>
                        </table>
                        <div class="marginTop marginBottom text-center">
                            <span ng-if="getTotalPubSelected() <= 0">No cards in selected categories</span>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-3 col-lg-3">&nbsp;</div>

                            <div class="col-md-9 col-lg-9">
                            <span class="footer-buttons">
                                <a class="btn btn-sm" ng-click="selectAllPubCards()"
                                   ng-if="!allPubCardsSelected">Select All</a>
                                <a class="btn btn-sm" ng-click="clearAllPubCards()"
                                   ng-if="allPubCardsSelected">Clear All</a>
                                <a class="btn btn-sm" ng-disabled="selectedPubCards().length <= 0"
                                   ng-click="openDialog('cardsPubCopy')">Save Selected Words</a>
                            </span>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
