<div ng-if="prepareFinished" class="container">
    <div class="row" ng-if="options.mode != 'tonepracticewithaudio'" ng-show="showTestEndDialog">
        <div class="panel categories-dialog">
            <div class="panel panel-heading">
                Test Ended
            </div>

            <div class="panel-body" style="text-align: center">
                <h5><p>You answered {$ correctCards() $} out of {$ cards.length $} words correctly for a score of</p></h5>
                <h1>{$ statistics['Percentage']()|number:1 $} %</h1>

                <div class="row">
                <div class="col-sm-6 col-xs-6 col-md-4 dictionary-options button-vert-padding">
                    <a class="btn btn-sm" ng-click="configureNewTest()">New Test</a>
                </div>

                <div class="col-sm-6 col-xs-6 col-md-4 dictionary-options button-vert-padding">
                    <a class="btn btn-sm" ng-click="restartTest()">Retake Test</a>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-4 dictionary-options button-vert-padding">
                    <a class="btn btn-sm" ng-click="restartTestIncorrect()" ng-if="incorrectCardsList.length">Retest Incorrect Cards</a>
                </div>
                <hr />
                </div>

                <div class="table-background">
                    <div class="text-center marginBottom" ng-show="incorrectCardsList.length">
                        <h3>Incorrect cards</h3>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-condensed" ng-show="incorrectCardsList.length">
                            <tbody>
                                <tr ng-repeat="card in incorrectCardsList">
                                    <td class="">
                                        <input type="checkbox" value="{$ card.id $}" ng-model="card.Selected" />
                                    </td>
                                    <td class="simplified wbr">
                                        <span ng-bind-html="card.word.simplified|asChinese:'s'|asHtml"></span>
                                    </td>
                                    <td class="pinyin wbr">{$ card.word.pinyin_normalized $}</td>
                                    <td class="meanings column-meaning">
                                        <span ng-repeat="meaning in card.word.meanings_references">
                                            <span>{$ $index + 1 $}.</span>
                                            <span class="meaning" ng-bind-html="meaning|asHtml"></span>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row marginTop" ng-if="incorrectCardsList.length">
                        <div class="col-sm-6 col-xs-6 col-md-4 dictionary-options button-vert-padding">
                            <a class="btn btn-sm" ng-click="clearAllSelections()" ng-if="!clearAllSelectionsClicked">Clear All Selections</a>
                            <a class="btn btn-sm" ng-click="selectAllSelections()" ng-if="clearAllSelectionsClicked">Select All</a>
                        </div>

                        <div class="col-sm-6 col-xs-6 col-md-4 dictionary-options button-vert-padding">
                            <a class="btn btn-sm" ng-click="addToExistingList()" ng-show="ifcardsToAdd()">Add to Existing List</a>
                        </div>

                        <div class="col-sm-12 col-xs-12 col-md-4 dictionary-options button-vert-padding">
                            <a class="btn btn-sm" ng-click="addToNewList()" ng-show="ifcardsToAdd()">Add to New List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
    <div class="row" ng-if="options.mode == 'tonepracticewithaudio'" ng-show="showTestEndDialog">
        <div class="panel categories-dialog">
            <div class="panel panel-heading">
                Test Ended
            </div>

            <div class="panel-body" style="text-align: center">
                <h5>
                    <p>You answered {$ correctCards() $} out of {$ voices.length $} sounds correctly for a score of</p>
                </h5>
                <h1>{$ statistics['Percentage']()|number:1 $} %</h1>

                <div class="row">
                <div class="col-sm-6 col-xs-6 col-md-4 dictionary-options button-vert-padding">
                    <a class="btn btn-sm" ng-click="configureNewTest()">New Test</a>
                </div>

                <div class="col-sm-6 col-xs-6 col-md-4 dictionary-options button-vert-padding">
                    <a class="btn btn-sm" ng-click="restartTest()">Retake Test</a>
                </div>

                <div class="col-sm-12 col-xs-12 col-md-4 dictionary-options button-vert-padding">
                    <a class="btn btn-sm" ng-click="restartTestIncorrect()" ng-if="incorrectCardsList.length">Retest Incorrect Sounds</a>
                </div>
                <hr />
                </div>

                <div class="text-center" ng-show="incorrectCardsList.length">
                    <h3>Incorrect sounds</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-condensed table-test-end" ng-show="incorrectCardsList.length">
                        <tbody class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-3">
                            <tr ng-repeat="card in incorrectCardsList">
                                <td class="pinyin wbr">Your answer: {$ card.currentAnswer $}</td>
                                <td class="pinyin wbr">
                                    <div class="text-center speakeru side-margins">
                                        <a ng-click="playSoundEndTest(card.answerUrl)"><span class="icon icon-speakeru"></span></a>
                                    </div>
                                </td>
                                <td class="pinyin wbr">Correct answer: {$ card.pinyin_normalized $}</td>
                                <td class="pinyin wbr">
                                    <div class="text-center speakeru side-margins">
                                        <a ng-click="playSoundEndTest(card.url)"><span class="icon icon-speakeru"></span></a>
                                    </div>
                                </td>
                               
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="!showTestEndDialog">
        <div class="col-sm-7 col-md-8 col-lg-9 col-sm-push-5 col-lg-push-3 col-md-push-4">
            <test-panel-normal ng-if="options.mode == 'normal'"></test-panel-normal>
            <test-panel-tonepractice ng-if="options.mode == 'tonepractice'"></test-panel-tonepractice>
            <test-panel-tonepracticewithaudio ng-if="options.mode == 'tonepracticewithaudio'"></test-panel-tonepracticewithaudio>
            <test-panel-fillintheblanks ng-if="options.mode == 'fillintheblanks'"></test-panel-fillintheblanks>
            <test-panel-multiplechoice ng-if="options.mode == 'multiplechoice'"></test-panel-multiplechoice>
        </div>
        <div class="col-sm-5 col-md-4 col-lg-3 col-sm-pull-7 col-lg-pull-9 col-md-pull-8">
            <div class="panel">
                <div class="panel-heading">Options</div>
                <div class="panel-body" style="text-align: center">
                    <div class="col-xs-6 col-md-6 col-lg-6 dictionary-options">
                        <a class="btn btn-sm" ng-click="restartTest()">RESTART TEST</a>
                    </div>

                    <div class="col-xs-6 col-md-6 col-lg-6 dictionary-options">
                        <a class="btn btn-sm" ng-click="configureNewTest()">NEW TEST</a>
                    </div>
                </div>
            </div>
            <div class="panel history-panel">
                <div class="panel-heading">History</div>
                <div class="panel-body">
                    <div id="history" style="overflow: auto; height: 200px !important;">
                        <table class="table table-striped table-condensed" ng-if="testedCards.length > 0"><tbody>
                            <tr ng-repeat="card in testedCards track by $index">
                                <td ng-if="!options.show.traditional">{$ card.word.simplified $}</td>
                                <td ng-if="options.show.traditional">{$ card.word.traditional $}</td>
                                <td ng-if="options.mode =='tonepracticewithaudio'">{$ card.pinyin_normalized $}</td>
                                <!-- <td class="card-score">
                                    <span ng-class="card.currentScore === 4 ? 'bold' : ''">4</span>
                                    <span ng-class="card.currentScore === 3 ? 'bold' : ''">3</span>
                                    <span ng-class="card.currentScore === 1 ? 'bold' : ''">2</span>
                                    <span ng-class="card.currentScore === 0 ? 'bold' : ''">1</span>
                                </td> -->
                                <td>
                                    <span class="card-correct pull-right" ng-class="card.currentScore > 2 ? 'fa fa-check' : 'fa fa-times' "></span>
                                </td>
                            </tr>
                        </tbody></table>
                        <script>
                            window.setInterval(function() {
                              var elem = document.getElementById('history');
                              if (!!elem) {
                                    elem.scrollTop = elem.scrollHeight;
                                }
                            }, 3000);
                        </script>
                    </div>
                    <span ng-if="testedCards.length <= 0" style="padding: 10px 15px">No cards tested yet</span>
                </div>
            </div>

            <div class="panel statistics-panel">
                <div class="panel-heading">Statistics</div>
                <div class="panel-body">
                    <table class="table table-striped table-condensed statistics-table"><tbody>
                        <tr><td>Current Card</td><td>{$ counter + 1 $}</td></tr>
                        <tr><td>Total Cards</td><td>{$ statistics['Total Cards'] $}</td></tr>
                        <tr><td>Progress</td><td>{$ statistics['Progress']() | number:1 $} %</td></tr>
                        <tr><td>Correct</td><td>{$ statistics['Correct']() $}</td></tr>
                        <tr><td>Incorrect</td><td>{$ statistics['Incorrect']() $}</td></tr>
                        <tr><td>% Correct</td><td>{$ statistics['Percentage']() | number:1 $} %</td></tr>
                        <tr><td>Total Time</td><td>{$ statistics['Total Time'] $}</td></tr>
                    </tbody></table>
                </div>
            </div>
        </div>
    </div>
</div>
