<div class="panel test-panel  mobile-field">
    <div class="panel-heading">Test</div>
    <div class="panel-body" ng-if="!showResults">
        <div class="text-center speaker margin-top">
            <a ng-click="playSound()"><span class="icon icon-speakeri" ng-class="{speakerplayingi: soundIsPlaying}"></span></a>
        </div>
        <div style="font-size: 50px; color: green" class="text-center" ng-show="correctMessage">Correct!</div>
        <div style="font-size: 50px; color: red" class="text-center" ng-show="incorrectMessage">Incorrect!</div>
        <span ng-if="">No results</span>
    </div>
    <div class="panel-footer no-vert-padding">
        <div class="row" ng-if="!showResults">
            <div>
                <div class="col-xs-2 col-xs-offset-1 orange-block test-button" id="1" ng-disabled="counter > cards.length - 1"
                     ng-click="answerTone(1)">
                    <div class="center-block tone-mark">
                        <img src="/static/images/t1.svg">
                    </div>
                    <p class="button-number">1</p>
                </div>
                <div class="col-xs-2 orange-block test-button" id="2" ng-disabled="counter > cards.length - 1"
                     ng-click="answerTone(2)">
                    <div class="center-block tone-mark">
                        <img src="/static/images/t2.svg">
                    </div>
                    <p class="button-number">2</p>
                </div>
                <div class="col-xs-2 orange-block test-button" id="3" ng-disabled="counter > cards.length - 1"
                     ng-click="answerTone(3)">
                    <div class="center-block tone-mark">
                        <img src="/static/images/t3.svg">
                    </div>
                    <p class="button-number">3</p>
                </div>
                <div class="col-xs-2 orange-block test-button" id="4" ng-disabled="counter > cards.length - 1"
                     ng-click="answerTone(4)">
                    <div class="center-block tone-mark">
                        <img src="/static/images/t4.svg">
                    </div>
                    <p class="button-number">4</p>
                </div>
                <div class="col-xs-2 orange-block test-button" id="5" ng-disabled="counter > cards.length - 1"
                     ng-click="answerTone(5)">
                    <div class="center-block tone-mark">
                       <div class="fake-tone-mark"></div>
                    </div>
                    <p class="button-number">5</p>
                </div>
            </div>
        </div>
    </div>
</div>
