<div class="container" ng-controller="CheckoutController">
    <div ng-if="!subscription || subscription.status == 'canceled'">
        <div class="panel">
            <div class="panel-heading">Payment</div>
            <payments-form cb-get-subscription="getSubscription()"
                            name="name"
                            exp-month="expMonth"
                            exp-year="expYear"
                            number="number"
                            cvc="cvc"
            ></payments-form>
        </div>
    </div>
    <div ng-if="subscription && subscription.status != 'canceled'">
        <div class="panel">
            <div class="panel-heading">Payment</div>
             <div class="panel-body">
            <p>Subscription plan: <span ng-bind="subscription.plan"></span></p>
            <p>Subscription plan status: <span ng-bind="subscription.status"></span></p>
            <p>Current period end: <span ng-bind="subscription.current_period_end"></span></p>
                 </div>
            <div class="panel-footer">
                <button ng-click="goNextState()" class="btn btn-success">Continue</button>
            </div>
        </div>
    </div>
</div>
