<div class="container" ng-controller="PaidonlyController">
    <div ng-if="usertype != 'Paid'" class="text-center">
        <p ng-hide="hideSorry">Sorry, that feature is only available to paid members.</p>
        <p ng-hide="loggedin">If you are already a paid member please <a ui-sref="login({nextState:nextState,forceLogout:1})">Login</a></p>
    </div>
    <div ng-if="usertype == 'Paid'"  class="text-center">
        <p>That feature is available for you</p>
    </div>
    <div>

        <table class="table">
            <caption class="text-center">Feature Comparsion Chart</caption>
            <thead>
                <tr>
                    <th></th>
                    <th>Guest</th>
                    <th>Free Member</th>
                    <th>Paid Member</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Price</td>
                    <td>Free</td>
                    <td>Free</td>
                    <td>Free 30 Day Trial then $7/month</td>
                </tr>
                <tr>
                    <td>Dictionary</td>
                    <td><i class="glyphicon glyphicon-ok green"></i><p>(but can’t save words for future)</p></td>
                    <td><i class="glyphicon glyphicon-ok green"></i></td>
                    <td><i class="glyphicon glyphicon-ok green"></i></td>
                </tr>
                <tr>
                    <td>Flashcards - Words</td>
                    <td><i class="glyphicon glyphicon-remove red"></i></td>
                    <td><i class="glyphicon glyphicon-ok green"></i></td>
                    <td><i class="glyphicon glyphicon-ok green"></i></td>
                </tr>
                <tr>
                    <td>Flashcards - Sentences</td>
                    <td><i class="glyphicon glyphicon-remove red"></i></td>
                    <td><i class="glyphicon glyphicon-remove red"></i></td>
                    <td><i class="glyphicon glyphicon-ok green"></i></td>
                </tr>
                <tr>
                    <td>Lessons</td>
                    <td><i class="glyphicon glyphicon-ok green"></i><p>(but can’t save words for future)</p></td>
                    <td><i class="glyphicon glyphicon-ok green"></i></td>
                    <td><i class="glyphicon glyphicon-ok green"></i></td>
                </tr>
                <tr>
                    <td>Text Tool</td>
                    <td><i class="glyphicon glyphicon-remove red"></i></td>
                    <td><i class="glyphicon glyphicon-remove red"></i></td>
                    <td><i class="glyphicon glyphicon-ok green"></i></td>
                </tr>
                <tr>
                    <td>Study Content - Audio/Video</td>
                    <td><i class="glyphicon glyphicon-remove red"></i></td>
                    <td><i class="glyphicon glyphicon-remove red"></i></td>
                    <td><i class="glyphicon glyphicon-ok green"></i></td>
                </tr>
                <tr>
                    <td>Study Content - Text</td>
                    <td><i class="glyphicon glyphicon-ok green"></i></td>
                    <td><i class="glyphicon glyphicon-ok green"></i></td>
                    <td><i class="glyphicon glyphicon-ok green"></i></td>
                </tr>
            </tbody>
        </table>
        <div class="pull-right"><button class="btn btn-sm" ui-sref="checkout({nextState:nextState})">Start Free Trial</button></div>
    </div>

</div>
