
<div class="container">
    <div class="panel">
        <div class="panel-heading">
            Successful Signup
        </div>
        <div class="panel-body">
            <div>
                <p>You have successfully signed up. A confirmation email has been sent to {$ userData.email $}. Please
                    follow
                    the instructions there to activate your account.</p>
            </div>
            <div ng-if="userData.paid && options.paymentFinished == false">
                <p>Processing payment...</p>
            </div>
            <div ng-if="userData.paid && options.paymentFinished && options.paymentSuccess">
                <p>Congratulations, you’re now a Paid Member of ChineseVault.com. This membership entitles you to unlimited
                    use
                    of all the features of the website.</p>

                <p>You are currently enjoying a 30-day trial period and will be charged $7 USD each month starting from {$
                    options.trialEnd $}.</p>

                <p>If you change your mind you can cancel at any time. To cancel your membership please go to “Account
                    Details”
                    and click “Cancel Subscription” in the Subscription Details section.</p>
            </div>
            <div ng-if="userData.paid && options.paymentFinished && options.paymentSuccess == false">
                <p>Though you are successfully registered there was a problem proceeding your payment, you can try again later from your profile page</p>
            </div>
        </div>
    </div>
</div>