phua-small-lesson-list a {
    color: #515151;
}

phua-small-lesson-list {
    line-height: 200%;
}

phua-small-study-content-list   a {
    color: #515151;
}

phua-small-study-content-list .content-list span {
    padding-right: 10px;
}

phua-small-study-content-list  {
    line-height: 200%;
}

phua-small-study-content-list .content-list-icon {
    color: #b0b0b0;
}

.diss {
    pointer-events:none;
    opacity: 0.6;
}


@media (min-width: 1200px) {

    .diff-height {
        height: 230px !important;
    }


    .panel-home {
        height: 300px;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {

    .diff-height {
        height: 230px !important;
    }

    .panel-home {
        height: 330px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    .diff-height {
        height: 220px !important;
    }

    .panel-home {
        height: 300px;
    }

}

@media (max-width: 767px) {

    .diff-height {
        height: 335px !important;
    }

    .panel-home {
        height: 350px;
    }

    .panel-home.lessons{
        height: 500px;
    }

}