
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
    margin:0;
    padding:0;
    border-width:0;
}

.cell-style-override-0, .cell-style-override-1, .cell-style-override-2, .cell-style-override-3, .cell-style-override-4 {
    border: 1px solid;
}

td.hoverable:hover {
    cursor: pointer;
    background-color: #d24726 !important;
    color: white;
}

table {
    border-collapse:collapse;
}

li {
    display:block;
}

body {
    font-size:12px;
    -epub-hyphens:auto;
}

table.Basic-Table {
    border: 1px solid #231f20;
    margin-bottom:-4px;
    margin-top:4px;
}

p.Basic-Paragraph {
    -epub-ruby-position:over;
    color:#231f20;
    font-family:"Minion Pro", serif;
    font-size:12px;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:1.2;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
    text-align:left;
    text-decoration:none;
    text-indent:0;
}

td.cell-style-override-1 {
    background-color:#d24726;
}

td.cell-style-override-2 {
    background-color:#fad4cc;
}

td.cell-style-override-3 {
    background-color:#febdae;
}

td.cell-style-override-4 {
    background-color:#f8f8f8;
}


span.char-style-override-1 {
    font-style:normal;
    font-weight:bold;
}

span.char-style-override-2 {
    font-size:15px;
}

span.char-style-override-3 {
    font-size:13px;
    font-style:normal;
    font-weight:bold;
}

span.char-style-override-4 {
    color:#a9d9f0;
    font-size:13px;
    font-style:normal;
    font-weight:bold;
}

col.Row-Column {
    width:50px;
}



tr.Row-Column {
    height:22px;
}

.arrow:after {
    border-right-color: #333 !important;
}

.popover {
    background-color: #333 !important;
    color: white !important;
    font-weight: 800;
}

.word-chart {
    vertical-align: top;
}


