/*@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&text=%C4%81%C3%A1%C7%8E%C3%A0%C5%8D%C3%B3%C7%92%C3%B2%C4%93%C3%A9%C4%9B%C3%A8%C4%AB%C3%AD%C7%90%C3%AC%C5%AB%C3%BA%C7%94%C3%B9%C7%96%C7%98%C7%9A%C7%9C%C3%BC%C4%80%C3%81%C7%8D%C3%80%C5%8C%C3%93%C7%91%C3%92%C4%92%C3%89%C4%9A%C3%88");
*/

@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin,greek-ext,greek,latin-ext");
/*
@import url("http://fonts.googleapis.com/css?family=Grand+Hotel");
*/

html {
    min-height: 100%;
    position: relative;
}
body {
    font-size: 13px;
    margin-bottom: 65px;
    font-family: "proxima-nova", "proxima nova", "helvetica neue", "helvetica", "Microsoft Yahei", "微软雅黑";
    background-color: #eeeeee;

}
body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.preloading h1{
    margin-top: 35vh;
}

.spinner {
    width: 40px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.spinner img {
    width: 100%;
}

@-webkit-keyframes fontfix {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}
.orange {
    color: #d24726;
}
.green {
    color: green;
}
.table-background {
    background-color: #f2f1f1;
}

footer.footer {
    background-color: #626262;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
}
footer.footer a {
    color: #ffffff;
    background-color: transparent;
}
footer.footer a:hover,
footer.footer a:focus,
footer.footer a:active {
  /*background-color: #080808;*/
    background-color: transparent;
}
footer ul {
    white-space: nowrap;
}
footer .row {
    margin-top: 5px;
}
footer .row a {
    font-size: 14px;
    padding-left: 10px;
}
footer ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
footer ul li {
    display: inline-block;
}
input,
button,
textarea,
.ngdialog.ngdialog-theme-default .ngdialog-content {
    font: inherit
}
.no-padding {
    padding: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.red {
    background-color: #d24726 !important;
}

a[ng-click] {
    cursor: pointer;
}
.input-group-addon .fa {
    width: 14px;
}
label.required:after {
    display: inline;
    content: '*';
    color: #c9302c;
}
section.content,
aside.advertisements,
aside > article.advertisement-block {
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    position: relative;
}
section.content {
    padding: 60px 0 0 0;
}
aside.advertisements {
    width: 300px;
    position: fixed;
    right: 0;
    top: 60px;
}
article.advertisement-block {
    height: 250px;
    margin-bottom: 10px;
}
.application-name {
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.dictionary-search .search-field.form-control {
    display: inline-block;
    width: 70%;
}
.dictionary-options > a.options-items {
    display: inline-block;
    margin-left: 10px;
}
.dictionary-options > a.options-items.active {
    text-decoration: underline;
}
.search-button-container {
    margin-bottom: 15px;
}
.column.add {
    color: #d24726;
}
.column.traditional,
.column.simplified {
    white-space: nowrap;
}
.column.add span {
    cursor: pointer;
}
.column.added {
    color: green;
}
.column.meanings .meaning {
    display: inline-block;
    margin-right: 10px;
}
span.meaning {
    display: inline-block;
    margin-right: 10px;
}
.col-md-2.no-float .col-md-10.no-float {
    float: none;
    display: table-cell;
}
.more-results {
    padding: 5px 0;
    text-align: center;
    background-color: #e4e4e4;
}
.more-results a {
    color: black;
}
.less-results {
    padding: 5px 0;
    text-align: center;
    background-color: #e4e4e4;
}
.less-results a {
    color: black;
}
.panel.test-settings {
    min-height: 457px;
}
.panel.test-settings .panel-body {
    padding: 0;
}
.panel.test-settings .panel-body .description {
    margin-left: 20px;
    margin-bottom: 10px;
}
.panel.test-settings .panel-body .table {
    margin-bottom: 0;
}
.panel.test-settings .panel-body .table input {
    margin-left: 20px;
}
.panel.test-settings .panel-footer {
    background-color: #e0e0e0;
    min-height: 50px;
}
.match,
.highlighted-match {
    font-weight: 900;
}
.word-detail-info .word-meanings {
    text-align: left;
    background-color: #fafafa;
}
.word-detail-info .word .simplified {
    font-size: 36pt;
}
.word-detail-info .word .traditional {
    font-size: 36pt;
}
.word-detail-info .word .pinyin {
    text-align: center;
}
.word-detail-info .word a.options-items.active {
    text-decoration: underline;
}
.new-category-name.fa.fa-check {
    color: green;
}
.new-category-name.fa.fa-times {
    color: #d24726;
}
.categories-dialog .input-group-addon {
    background-color: white;
}
/* Bootstrap Overrides */

.pull-right .dropdown-menu:after {
    left: auto;
    right: 13px;
}
.pull-right .dropdown-menu {
    left: auto;
    right: 0;
}

nav {
    background-color: #5d5b5b !important;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: #ffffff;
    padding: 10px 15px;
}
.navbar ul.nav > li > a {
    color: #ffffff;
}

.navbar ul.nav > li > a:hover {
    background-color: #d24726;
}

.panel {
    box-shadow: 2px 2px 8px #888888;
    border: none;
}
.panel-body {
    /*background-color: #f0f0f0;
    border: 1px solid #e0e0e0;
    */
}
.panel-heading {
    background-color: #d24726;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 5px 18px;
}

.no-padding {
    margin-bottom: 0 !important;
}

.no-paddings {
    padding: 0 !important;
    margin: 0 !important;
}

.btn {
    background-color: #d24726;
    color: #fff;
    border-radius: 3px !important;
    margin-bottom: 10px;
}
.btn:active,
.btn:focus,
.btn:hover {
    color: #fff;
}
.login-dialog .login-button {
    width: 100%;
    display: block;
}
.cards-dialog .action-button,
.categories-dialog .action-button {
    width: 100%;
    display: block;
}
.statistics-panel .panel-body {
    padding: 0;
}
.statistics-table tr td:first-child {
    text-align: right;
    width: 50%;
}
.statistics-table tr td:last-child {
    text-align: left;
    width: 50%;
}
.history-panel .panel-body {
    padding: 0;
    height: 180px;
    overflow-y: hidden;
}
.history-panel .panel-footer {
    text-align: center;
}
.history-panel .panel-footer .left-btn {
    text-align: center;
    padding: 0;
    border-right: 1px solid gray;
}
.history-panel .panel-footer .right-btn {
    text-align: center;
    padding: 0;
    border-left: 1px solid gray;
}
.history-panel .card-score span {
    color: #ababab;
}
.history-panel .card-correct.fa.fa-check {
    color: green;
}
.history-panel .card-correct.fa.fa-times {
    color: #d24726;
}
.history-panel .card-score span.bold {
    color: black;
    font-weight: 900;
}
.test-panel .panel-body {
    min-height: 330px;
}
.test-panel .panel-footer {
    min-height: 100px;
    background-color: #e0e0e0;
}
.test-panel .no-vert-padding {
    padding-top: 0;
    padding-bottom: 0;
    height: 124px;
}

.multiple {
    height: 190px !important;
    margin-top: -50px;
}

.customize-field {
    margin-top: 25px;
}

.customize-field input {
    font-size: 20px !important;
    padding: 15px !important;
}

.text-size {
    font-size: 18px;
}

.test-panel .panel-footer .btn-answer {
    width: 100px;
}
.test-panel .panel-footer .left-column {
    text-align: right;
    border-right: 1px solid #d24726;
}
.test-panel .panel-footer .left-column div {
    display: inline-block;
}
.test-panel .panel-footer .right-column {
    text-align: left;
    border-left: 1px solid #d24726;
}
.test-panel .panel-footer .right-column div {
    display: inline-block;
}
.test-panel .panel-body {
    padding: 0;
}
.test-panel .card {
    text-align: center;
}
.test-panel .card-simplified,
.test-panel .card-traditional {
    font-size: 35pt;
}
.test-panel .card-pinyin {} .test-panel .card-meaning {} .test-panel .sentence-card {
    text-align: center;
}
.test-panel .sentence-card-simplified, .test-panel .sentence-card-traditional {
    font-size: 1.3em;
} 
.test-panel .sentence-card-pinyin {} .test-panel .sentence-card-meaning {} .card-categories .selected-category {
    font-weight: 900;
}
.resources .panel-body dl dt a {
    color: #515151;
}
.resources .panel-body dl dd {
    margin-bottom: 10px;
}
/* NgDialog overrides */

.ngdialog.ngdialog-theme-custom .ngdialog-content .panel {
    margin-bottom: 0;
}
.ngdialog.ngdialog-theme-custom .ngdialog-content .panel-body {
    border: none;
    background-color: #ffffff;
}
.ngdialog.ngdialog-theme-custom .ngdialog-content .panel-footer {
    border-top: 1px dashed gray;
    text-align: center;
    background-color: #ffffff;
}
.ngdialog.ngdialog-theme-custom .ngdialog-content .panel-footer a {
    color: #d24726;
}
.ngdialog.ngdialog-theme-custom {
    padding-top: 125px;
    padding-bottom: 125px;
}
.ngdialog.ngdialog-theme-custom .ngdialog-overlay {
    /*background: rgba(255,255,255,.5);*/
}
.ngdialog.ngdialog-theme-custom .ngdialog-content {
    background: rgba(255, 255, 255, .9);
    /*padding: 1.8em 2em;*/

    padding: 0;
    width: 440px;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ngdialog.ngdialog-theme-custom .ngdialog-message h2 {
    font-size: 26px;
    font-family: 'Montserrat', 'Helvetica', Arial, sans-serif;
    line-height: 30px;
    margin-bottom: 20px;
}
.ngdialog.ngdialog-theme-custom .ngdialog-message {
    font-size: 16px;
    font-family: 'Source Sans Pro';
    line-height: 22px;
}
.ngdialog.ngdialog-theme-custom .ngdialog-message ul {
    padding: 0 0 5px 35px;
}
.ngdialog.ngdialog-theme-custom .ngdialog-button.ngdialog-button-primary {
    background: #27ae60;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.panel.dictionary .dictionary-description {
    color: #999;
}
.panel.dictionary .entries {
    margin-top: 15px;
    margin-bottom: 15px;
}
.panel.dictionary .entries ul {
    list-style-type: none;
    padding-left: 0;
}
.panel.dictionary .entries ul li:first-child {
    font-weight: bold;
}
.panel.dictionary .entries li {
    color: #515151;
    display: inline;
    padding-right: 10px;
    padding-left: 0;
}
.panel.dictionary .entries li a {
    color: #515151;
    display: inline;
}
.panel.dictionary .navbar-header {
    min-width: 100px;
    font-weight: bold;
    font-size: 10px;
    text-transform: capitalize;
}
.panel.dictionary .navbar-header,
.panel.dictionary .navbar-nav > li > a {
    line-height: 24px !important;
    color: #515151;
}
.panel.dictionary .navbar-nav > li > a {
    padding: 0 15px !important;
}


.left-column h5 {
    margin-right: 80px;
}
.right-column h5 {
    margin-left: 80px;
}

@media (min-width: 992px) {
    .test-panel .panel-body {
        height: 455px;
    }
}

/** Reponsive Tweak */
@media (max-width: 767px) {
    .test-panel .panel-body {
        min-height: 57vh;
    }
    .test-panel .panel-body {
        overflow: auto;
        /*height: 300px !important;"*/
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .test-panel .panel-body {
        height: 45vh;
    }
    .test-panel .panel-body {
        overflow: auto;
        /*height: 300px !important;"*/
    }
}

@media (max-width: 900px) {
    aside.advertisements {
        visibility: hidden;
    }
    section.content {
        padding-right: 0;
    }
    .panel.test-settings {
        min-height: 0;
    }
    .left-column h5 {
        margin-right: 40px;
    }
    .right-column h5 {
        margin-left: 40px;
    }
    .mobile-field {

    } 

    footer .row a {
        font-size: 10px;
    }
    footer ul li {
        display: inline-block;
    }
    .test-panel .panel-footer .btn-answer {
        width: 70px;
    }
    .button-block p {
        font-size: 0.7em;
    }
    .application-name {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }
    .long-btn {
        font-size: 9px;
    }
    .column {
        font-size: 12px;
    }
    .column.pinyin {
        width: 20% !important;
    }
    .column-meaning {
        width: 70% !important;
    }
}

.table {
    margin-bottom: 0 !important;
}

.table-test-end {
    display: block;
}
.button-vert-padding {
    padding-top: 2px;
    padding-bottom: 2px;
}
@media (max-width: 1200px) {
    .column.pinyin {
        width: 12% !important;
    }
    .column-meaning {
        width: 60% !important;
    }
    .search-table {
        table-layout: fixed;
    }
    aside.advertisements {
        visibility: hidden;
    }
}

.mainpage-panel-body {
    height: 220px;
}

.vcenter {
    display: flex;
    justify-content: center;
    /* align horizontal */

    align-items: center;
    /* align vertical */
}
.orange-block {
    font-size: 1.1em;
    padding: 3px;
    background-color: #d24726;
    color: white;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid white;
}
.test-button {
    cursor: pointer;
    cursor: hand;
    height: 95px;
}

.multi-choice {
    font-size: 1.3em;
    margin-top: 30px;
}

.tone-mark {
    font-size: 2em;
    font-weight: bolder;
    margin: 0;
}
.button-number {
    font-size: 1.6em;
    font-weight: bolder;
    margin: 0;
}
.wbr {
    word-break: break-all;
}
.texttool-tab-header {
    margin-left: 15px;
}
.texttool-textbox {
    font-size: 1.3em;
    line-height: 2em;
}
.texttool-textbox-no-space {
    font-size: 1.3em;
    line-height: 2em;
    word-spacing: -2px;
    letter-spacing: -2px;
}
.texttool-textbox-no-space span:hover {
    background-color: #bfb;
}
.chinese-hoverable:hover {
    background-color: #bfb;
}
.texttool-hgltd {
    background-color: #f99 !important;
    color: black;
}
.analysis-dropdown {
    max-width: 85%;
    margin-left: 10px;
}
.texttool-tab-body {
    padding-top: 10px;
}
.texttool-span-no-space {
    font-size: 18px;
}
.lesson-show-def {
    color: gray;
    padding-left: 3px;
}
.lesson-ok {
    font-size: 20px;
}
.lesson-ok-gray {
    color: gray;
}
.lesson-ok-green {
    color: green;
}
.hglt_red {
    color: red;
}
.sentence-block {
    padding-bottom: 10px;
}
.small-gray {
    color: gray;
    font-size: 0.8em;
}
.sentences-pagination {
    padding-top: 20px;
    padding-bottom: 20px;
}
.annotated-span {
    display: inline-table;
    text-align: center;
    margin-right: 3px;
}
.annotated-span span {
    display: table-row;
    font-size: 0.8em;
}
.texttool_toolbar {
    padding: 0;
    font-size: 0.9em;
    border-bottom: 1px solid gray;
}
.texttool_cell {
    padding: 5px;
}
.texttool_label {} .texttool_cell__leftborder {
    padding: 5px;
    border-left: 1px solid gray;
}
.texttool_cell__rightborder {
    padding: 5px;
    border-right: 1px solid gray;
}
.small-css-spinner {
    -webkit-animation: spinner-loader 1500ms infinite linear;
    animation: spinner-loader 1500ms infinite linear;
    border-radius: .5em;
    box-shadow: rgba(0, 0, 51, .3) 1.5em 0 0 0, rgba(0, 0, 51, .3) 1.1em 1.1em 0 0, rgba(0, 0, 51, .3) 0 1.5em 0 0, rgba(0, 0, 51, .3) -1.1em 1.1em 0 0, rgba(0, 0, 51, .3) -1.5em 0 0 0, rgba(0, 0, 51, .3) -1.1em -1.1em 0 0, rgba(0, 0, 51, .3) 0 -1.5em 0 0, rgba(0, 0, 51, .3) 1.1em -1.1em 0 0;
    display: inline-block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin: 1.5em;
    overflow: hidden;
    text-indent: 100%;
}

.word-usage {
    padding: 15px 30px 15px 30px;
}

.word-usage p {
    color: #858585;
}

.word-simple {
    position: relative;
    width: 100%;
    min-height: 50px;
    background-color: #f5f5f5;
    border-left: 15px solid #d24726;
    margin-top: 10px;
    margin-bottom: 20px;
}

.word-simple .add-word {
    position: absolute;
    top: -4px;
    left: -14px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}

.word-simple .simplified {
    font-size: 36px;
}

.word-simple .pinyin {
    font-size: 24px;
    font-weight: bold;
    color: #858585;
}

.word-simple .english {
    font-size: 16px;
    font-weight: bold;
}

.padding-bottom {
    padding-bottom: 10px;
}
/* unvisited link */

.gray-link a:link {
    color: gray;
    text-decoration: none;
}
/* visited link */

.gray-link a:visited {
    color: gray;
    text-decoration: none;
}
/* mouse over link */

.gray-link a:hover {
    color: gray;
    text-decoration: none;
}
/* selected link */

.gray-link a:active {
    color: gray;
    text-decoration: none;
}
.speaker-center {
    margin-top: 30px;
}

.wordinfo-mobile {
    display: none;
}

.stripe-logo img {
    width: 150px;
    margin: 5px 0 20px 20px;
}

.tone-mark img {
    width: 40px;
    height: 40px;
    margin: 5px 0 5px 0;
}

.fake-tone-mark {
    width: 10px;
    height: 50px;
}

.medium-image {
    max-width: 100px;
    max-height: 100px;
}

.small-image {
    max-width: 30px;
    max-height: 30px;
}
.twitterbird {
 height: 30px;
 width: 30px;
 max-width: 30px;
 max-height: 30px;
 display:block;
 background:transparent url('/static/images/twitter30x30.png') center top no-repeat;
}

.twitterbird:hover {
 background:transparent url('/static/images/twitter30x30.png') center top no-repeat;;
background-color: transparent;
}

.facebookf {
 height: 30px;
 width: 30px;
 max-width: 30px;
 max-height: 30px;
 display:block;
 background:transparent url('/static/images/facebook30x30.png') center top no-repeat;

}

.facebookf:hover {
 background:transparent url('/static/images/facebook30x30.png') center top no-repeat;
    }


.panel {
  border-radius: 0px;
    border-color: #dadada;
    // background-color: #f8f8f8;
}

.panel-heading {
  border-radius: 0px;
}

.btn {
    border-radius: 0px;
}

.capitalize {
       text-transform: capitalize;
}

.pagination>.active>a {
    z-index: 2;
}

@media (min-width: 1200px) {
    .subscriptionBtn {
        margin-left: 20px;
    }

    .marginLeft {
        margin-left: 7px;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .subscriptionBtn {
        margin-left: 5px;
    }

    .marginLeft {
        margin-left: 7px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .subscriptionBtn {
        margin-left: -15px;
    }

    .marginLeft {
        margin-left: 7px;
    }
}

@media (max-width: 767px) {
    .marginLeft {
        margin-left: 15px;
    }
}