/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    margin-top: 50px;
    padding-left: 0px;

}



#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 200px;
    height: 100%;
    margin-left: -250px;
    overflow-y:hidden;
    background: #333;
    opacity: 0.8;

}

#page-content-wrapper {
    padding-top: 20px;
}



@media(min-width:768px) {
    #wrapper {
        padding-left: 0px;
    }

    #wrapper.toggle {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 250px;
        background: #222;
        opacity: 1;
    }



}