.icon{
	position:relative;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	display:block;

}

/*THE ARTIFAKT ;) */

.margin-top {
	margin-top: 100px;
}

.side-margins {
	margin-left: 20px;
	margin-right: 100px;
}

.icon-speaker{
	width:0;
	height:0;
	background:none;
	border-top:2em solid transparent;
	border-bottom:2em solid transparent;
	border-right:2.5em solid darkgrey;
}

.speaker {
	cursor: pointer !important;
}

.icon-speaker:before{
	content:"";
	position:absolute;
	top:-0.9em;
	left:0;
	width:2.9em;
	height:1.75em;
	background:	darkgrey;
	border-radius:3px 1.5em 1.5em 3px;
}

.speakerplaying:after{
	content:"";
	position:absolute;
	border-right:0.5em solid darkgrey;
	border-radius:50%;
	
	-webkit-animation:jump 0.3s 0.3s infinite alternate;
	   -moz-animation:jump 0.3s 0.3s infinite alternate;
	    -ms-animation:jump 0.3s 0.3s infinite alternate;
	     -o-animation:jump 0.3s 0.3s infinite alternate;
	        animation:jump 0.3s 0.3s infinite alternate;
}

.icon-speakeri{
	width:0;
	height:0;
	background:none;
	border-top:5em solid transparent;
	border-bottom:5em solid transparent;
	border-right:6em solid darkgrey;

}
.icon-speakeri:before{
	content:"";
	position:absolute;
	top:-1.8em;
	left:0;
	width:6.9em;
	height:3.75em;
	background:	darkgrey;
	border-radius:3px 1.5em 1.5em 3px;
}

.speakerplayingi:after{
	content:"";
	position:absolute;
	border-right:0.7em solid darkgrey;
	border-radius:50%;
	
	-webkit-animation:pumpi 0.3s 0.3s infinite alternate;
	   -moz-animation:pumpi 0.3s 0.3s infinite alternate;
	    -ms-animation:pumpi 0.3s 0.3s infinite alternate;
	     -o-animation:pumpi 0.3s 0.3s infinite alternate;
	        animation:pumpi 0.3s 0.3s infinite alternate;
}


.icon-speakeru{
	width:0;
	height:0;
	background:none;
	border-top:1.5em solid transparent;
	border-bottom:1.5em solid transparent;
	border-right:1.75em solid darkgrey;

}
.icon-speakeru:before{
	content:"";
	position:absolute;
	top:-0.6em;
	left:0;
	width:2em;
	height:1.2em;
	background:	darkgrey;
	border-radius:3px 1em 1em 3px;
}


.icon-speakera{
	margin-right: 10px;
	cursor: pointer;
	width:0;
	height:0;
	background:none;
	border-top:0.75em solid transparent;
	border-bottom:0.75em solid transparent;
	border-right:0.85em solid rgb(210, 71, 38);

}
.icon-speakera:before{
	cursor: pointer;
	content:"";
	position:absolute;
	top:-0.3em;
	left:0;
	width:1em;
	height:0.6em;
	background:	rgb(210, 71, 38);
	border-radius:3px 1em 1em 3px;
}

.inline-block {
	display: inline-block;
}




@-webkit-keyframes jump {
    from{
    	top:-1.1em;
		right:-4em;
		width:1.25em;
		height:2.25em;
	}
    to{
    	top:-1.5em;
		right:-5em;
		width:2em;
		height:3em;
    }
}
@-moz-keyframes jump {
    from{
    	top:-1.4em;
		right:-7em;
		width:2.5em;
		height:2.5em;
	}
    to{
    	top:-1.8em;
		right:-8em;
		width:3.5em;
		height:3.5em;
    }
}
@-ms-keyframes jump {
    from{
    	top:-1.4em;
		right:-7em;
		width:1.75em;
		height:2.5em;
	}
    to{
    	top:-1.8em;
		right:-8em;
		width:3em;
		height:3.5em;
    }
}
@-o-keyframes jump {
    from{
    	top:-0.7em;
		right:-7em;
		width:2.5em;
		height:2.5em;
	}
    to{
    	top:-1.8em;
		right:-8em;
		width:3.5em;
		height:3.5em;
    }
}
@keyframes jump {
	from{
    	top:-1.1em;
		right:-4em;
		width:1.5em;
		height:2.25em;
	}
    to{
    	top:-1.5em;
		right:-5em;
		width:2.5em;
		height:3em;
    }
}

@-webkit-keyframes pumpi {
    from{
    	top:-1.6em;
		right:-8em;
		width:2em;
		height:3em;
	}
    to{
    	top:-2.35em;
		right:-10em;
		width:3.5em;
		height:5em;
    }
}
@-moz-keyframes pumpi {
    from{
    	top:-1.4em;
		right:-7em;
		width:2.5em;
		height:2.5em;
	}
    to{
    	top:-1.8em;
		right:-8em;
		width:3.5em;
		height:3.5em;
    }
}
@-ms-keyframes pumpi {
    from{
    	top:-1.4em;
		right:-7em;
		width:2.5em;
		height:2.5em;
	}
    to{
    	top:-1.8em;
		right:-8em;
		width:3.5em;
		height:3.5em;
    }
}
@-o-keyframes pumpi {
    from{
    	top:-0.7em;
		right:-7em;
		width:2.5em;
		height:2.5em;
	}
    to{
    	top:-1.8em;
		right:-8em;
		width:3.5em;
		height:3.5em;
    }
}

@keyframes pumpi {
	from{
    	top:-1.6em;
		right:-8em;
		width:2em;
		height:3em;
	}
    to{
    	top:-2.35em;
		right:-10em;
		width:3.5em;
		height:5em;
    }
}

