.studycontent_mainmenu_item_icon_title {
    font-size: 3em;
    padding-left: 20px;
}

.studycontent_mainmenu a:link {
    text-decoration:none;
    color: black;
}

.studycontent_mainmenu a:visited {
    text-decoration:none;
    color: black;
}

.studycontent_mainmenu a:hover {
    text-decoration:none;
    color: black;
}

.studycontent_mainmenu a:active {
    text-decoration:none;
    color: black;
}

.panel-gray {
    border-color: gray;
}

.marginBottom {
    margin-bottom: 15px;
}

.side-paddings {
    padding-right: 15px;
    padding-left: 15px;
}

.study_content_caption {
    box-shadow: 2px 2px 8px #888888;
    border: none;
    position: relative;
    width: 100%;
    height: 110px;
    background-color: #d24726;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.study_content_caption img {
    width: 40%;
    height: 100%;
    float: left;
}

.study_content_caption h1 {
    font-size: 48px !important;
    padding-top: 10px;
    margin-left: 50%;
}

.study_content_caption h3 {
    margin-left: 52%;
}

.content_item {
    padding: 10px;
}

.content_item i {
    cursor: pointer;
}

.gray-text {
    color: gray;
    cursor:pointer;
}

.border-top {
    border-top: 1px solid lightgray;
    margin-top: 10px;
    padding-top: 10px;
}




@media (min-width: 1200px) {
    .video-img {
        width: 192px;
        height: 108px;
    }
}


@media (min-width: 992px) and (max-width: 1199px) {
    .video-img {
        width: 192px;
        height: 108px;
    }

    .study_content_caption {
        height: 100px;
    }

    .study_content_caption img {
        width: 45%;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .video-img {
        width: 192px;
        height: 108px;
    }

    .study_content_caption {
        height: 160px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .study_content_caption img {
        width: 30%;
    }

    .study_content_caption h1 {
        padding-top: 40px;
    }
}


@media (max-width: 767px) {
    .video-img {
        width: 100%;
    }

    .study_content_caption {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
