.wordinfo {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    background: #333;
    color: darkgrey;

}

.wordinfo div {
    margin-bottom: 5px;
}

.wordinfo .huge-font {
    font-size: 16px;
}

.wordinfo .bigger {
    font-size: 40px !important;
    color: white;
}

.wordinfo .medium-font {
    font-size: 14px;
}

.wordinfo button {
    background-color: black;
    width: 80%;
}

.wordinfo .meaning {
    border-bottom: 1px solid gray;
}


.wordinfo .speaker {
    opacity: 1;
}

@media (min-width: 768px) {
    .wordinfo .huge-font {
        font-size: 25px;
    }

    .wordinfo .medium-font {
        font-size: 23px;
    }

    .wordinfo {
        background: #222;
        color: darkgrey;
    }
}