<div class="panel categories-dialog">
    <div class="panel panel-heading">
        Copy Categories
    </div>

    <div class="panel panel-body">
        Are you sure you want to copy the following categories:
        <p>
            <ul>
                <li ng-repeat="category in selectedCategories()">{$ category.name $}</li>
            </ul>
        </p>

        <p>
            <button class="btn btn-sm action-button" ng-click="categoriesCopy()">Copy</button>
        </p>
    </div>
</div>
