<div class="panel categories-dialog">
    <div class="panel panel-heading">
        Rename Category
    </div>

    <div class="panel panel-body">
        <form>
            <fieldset>
                <p><div class="input-group">
                    <input class="form-control" type="text" ng-model="categoryToRename" placeholder="Name" />
                    <span class="input-group-addon">
                        <i ng-class="categoryNameOk(categoryToRename) ? 'new-category-name fa fa-check' : 'new-category-name fa fa-times'" ng-show="categoryToRename.length > 0">
                        </i>
                    </span>
                </div></p>

                <p>
                    <button class="btn btn-sm action-button" ng-click="categoryRename(categoryToRename)" ng-disabled="!categoryNameOk(categoryToRename)">Rename</button>
                </p>
            </fieldset>
        </form>
    </div>
</div>
