z<div class="panel categories-dialog">
    <div class="panel panel-heading">
        Test Ended
    </div>

    <div class="panel-body" style="text-align: center">
        <h5><p>You answered {$ correctCards() $} out of {$ cards.length $} words correctly for a score of</p></h5>
        <h1>{$ statistics['Percentage']()|number:1 $} %</h1>

        <div class="row">
        <div class="col-sm-6 col-xs-6 col-md-4 dictionary-options button-vert-padding">
            <a class="btn btn-sm" ng-click="configureNewTest()">New Test</a>
        </div>

        <div class="col-sm-6 col-xs-6 col-md-4 dictionary-options button-vert-padding">
            <a class="btn btn-sm" ng-click="restartTest()">Retake Test</a>
        </div>

        <div class="col-sm-12 col-xs-12 col-md-4 dictionary-options button-vert-padding">
            <a class="btn btn-sm" ng-click="restartTestIncorrect()" ng-if="incorrectCardsList.length">Retest Incorrect Cards</a>
        </div>
        <hr />
        </div>

        <table class="table table-striped table-condensed table-test-end" ng-show="incorrectCardsList.length">
            <tbody>
                <tr ng-repeat="card in incorrectCardsList">
                    <td class=""><input type="checkbox" value="{$ card.id $}" ng-model="card.Selected" /></td>
                    <td class="simplified wbr"><span ng-bind-html="card.word.simplified|asChinese:'s'|asHtml"></span></td>
                    <td class="pinyin wbr">{$ card.word.pinyin_normalized $}</td>
                    <td class="meanings column-meaning"><span ng-repeat="meaning in card.word.meanings_references"><span>{$ $index + 1 $}.</span><span class="meaning" ng-bind-html="meaning|asHtml"></span></span></td>
                </tr>
            </tbody>
        </table>
        <div class="row" ng-if="incorrectCardsList.length">
        <hr />
        <div class="col-sm-6 col-xs-6 col-md-4 dictionary-options button-vert-padding">
            <a class="btn btn-sm" ng-click="clearAllSelections()" ng-if="!clearAllSelectionsClicked">Clear All Selections</a>
            <a class="btn btn-sm" ng-click="selectAllSelections()" ng-if="clearAllSelectionsClicked">Select All</a>
        </div>

        <div class="col-sm-6 col-xs-6 col-md-4 dictionary-options button-vert-padding">
            <a class="btn btn-sm" ng-click="addToExistingList()" ng-show="ifcardsToAdd()">Add to Existing List</a>
        </div>

        <div class="col-sm-12 col-xs-12 col-md-4 dictionary-options button-vert-padding">
            <a class="btn btn-sm" ng-click="addToNewList()" ng-show="ifcardsToAdd()">Add to New List</a>
        </div>
        </div>

    </div>
</div>
