<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-hidden="true" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand docollapse" ui-sref="home" ng-click="makeActive('home')" role="link">
                <h1 class="application-name"><img src="/static/images/logo.png" alt="中文"/>ChineseVault.com</h1>
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" role="menubar">
                <li ng-if="features.dictionary">
                    <a ui-sref="dictionary" ng-class="{red: currentState == 'dictionary'}" onclick="$('.navbar-collapse').collapse('hide');" ng-click="makeActive('dictionary')">Dictionary</a>
                </li>
                <li ng-if="features.flashcards">
                    <a ui-sref="flashcards" ng-class="{red: currentState == 'flashcards'}" ng-click="makeActive('flashcards')" onclick="$('.navbar-collapse').collapse('hide');">Flashcards</a>
                </li>
                <li ng-if="features.textTool">
                    <a ui-sref="texttool" ng-class="{red: currentState == 'texttool'}" ng-click="makeActive('texttool')" onclick="$('.navbar-collapse').collapse('hide');">Text
                    Tool</a>
                </li>
                <li ng-if="features.lessons">
                    <a ui-sref="lesson" ng-class="{red: currentState == 'lessons'}" ng-click="makeActive('lessons')" onclick="$('.navbar-collapse').collapse('hide');">Lessons</a>
                </li>
                <li ng-if="features.studyContent">
                    <a ui-sref="study_content_list" ng-class="{red: currentState == 'studyContent'}" ng-click="makeActive('studyContent')" onclick="$('.navbar-collapse').collapse('hide');">Study Content</a>
                </li>
            </ul>
            <ul ng-if="features.users" class="nav navbar-nav navbar-right" style="margin-right:0" role="menubar">
                <li class="dropdown" ng-show="auth.isLoggedIn()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button"
                       ng-bind="auth.getUser().username"></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                        <li><a tabindex="-1" onclick="$('.navbar-collapse').collapse('hide');" ui-sref="profile">Account
                            Details</a></li>
                        <li><a tabindex="-1" onclick="$('.navbar-collapse').collapse('hide');"
                               href="/accounts/signout/">Log Out</a></li>
                    </ul>
                </li>
                <li class="dropdown navbar-right" ng-show="!auth.isLoggedIn()">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" role="button">Account</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                        <li><a onclick="$('.navbar-collapse').collapse('hide');" ui-sref="signup">Register</a></li>
                        <li><a onclick="$('.navbar-collapse').collapse('hide');" ng-click="login(true)">Sign In</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>