<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en-us" ng-app="putonghua" ng-controller="BaseController">
<head>
    <base href="/app/">
    <meta content="charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="fragment" content="!"/>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">

    <title>{{ title }}</title>

    <link rel="shortcut icon" type="image/png" href="/static/favicon.ico"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">

    <!-- build:css css/minified.css -->

    <link rel="stylesheet" href="/frontend/src/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/frontend/src/bower_components/ng-dialog/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="/frontend/src/bower_components/ng-dialog/css/ngDialog-theme-plain.min.css">
    <link rel="stylesheet" href="/frontend/src/bower_components/ng-dialog/css/ngDialog.min.css">
    <link rel="stylesheet" href="/frontend/src/bower_components/angular-block-ui/dist/angular-block-ui.min.css"/>

    <!-- inject:css -->

    <!-- endinject -->
    <!-- endbuild -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-8244048-17', 'putonghua.social');
        ga('send', 'pageview');
    </script>

    <meta name="user.username" content="{{ user.username }}">
    <meta name="user.email" content="{{ user.email }}">
    <meta name="validation:username" content="{{ username_pattern }}">
    <meta name="user.has_active_subscription" content="{{ has_active_subscription }}">
</head>
<body>
<div ng-if="false">
    <div class="col-xs-12 preloading">
        <h1 class="text-center">ChineseVault.com</h1>
        <div class="spinner center-block"><img src="/static/images/spinner.gif"></div>
        <h4 class="text-center">Loading, please wait</h4>
    </div>
</div>
<navigation ng-cloak></navigation>

<div id="wrapper" ng-cloak>
    <div ng-if="SelectedWord" id="sidebar-wrapper"  click-out="alert('!')">
        <word-info word="globals.SelectedWord"></word-info>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<!--<aside class="advertisements" role="complementary"><article class="advertisement-block"><iframe src="/pages/ad1/" height="250px" width="300px" frameborder="0" scrolling="no" allowtransparency="true" hspace="0" vspace="0" marginheight="0" marginwidth="0" ></iframe></article><article class="advertisement-block"><iframe src="/pages/ad2/" height="250px" width="300px" frameborder="0" scrolling="no" allowtransparency="true" hspace="0" vspace="0" marginheight="0" marginwidth="0" ></iframe></article></aside>-->
<footer class="footer" role="presentation" ng-cloak>
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-lg-6 col-lg-offset-2 text-center">
                <a ui-sref="home" role="link">ChineseVault.com - All Rights Reserved Copyright &copy; 2015</a>
                <ul class="" role="menubar">
                    <li><a ui-sref="about">About Us</a></li>
                    <li><a ui-sref="terms-of-use">Terms of Use</a></li>
                    <li><a ui-sref="privacy-policy">Privacy Policy</a></li>
                    <li><a ui-sref="contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-xs-1 col-lg-1">
                <a class="facebookf" title="Facebook link" href="//www.facebook.com/chinesevault/"></a>
            </div>
            <div class="col-xs-1 col-lg-1">
                <a class="twitterbird" title="Twitter link" href="//twitter.com/chinesevault"></a>
            </div>
        </div>

    </div>
</footer>
<div login-dialog></div>
<form method="post">
    {% csrf_token %}
</form>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="//code.jquery.com/jquery-1.12.1.min.js"></script>
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script> -->
<!-- build:js js/minified.js -->
<script src="/frontend/src/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/frontend/src/bower_components/angular/angular.js"></script>
<script src="/frontend/src/bower_components/angular-touch/angular-touch.js"></script>
<script src="/frontend/src/bower_components/angular-animate/angular-animate.js"></script>
<script src="/frontend/src/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/frontend/src/bower_components/ui-router-metatags/dist/ui-router-metatags.min.js"></script>
<script src="/frontend/src/bower_components/angular-cookies/angular-cookies.js"></script>
<script src="/frontend/src/bower_components/lodash/lodash.js"></script>
<script src="/frontend/src/bower_components/restangular/dist/restangular.js"></script>
<script src="/frontend/src/bower_components/ng-dialog/js/ngDialog.min.js"></script>
<script src="/frontend/src/bower_components/moment/min/moment.min.js"></script>
<script src="/frontend/src/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="/frontend/src/bower_components/videogular-controls/vg-controls.js"></script>
<script src="/frontend/src/bower_components/videogular-overlay-play/vg-overlay-play.js"></script>
<script src="/frontend/src/bower_components/videogular-poster/vg-poster.js"></script>
<script src="/frontend/src/bower_components/videogular-buffering/vg-buffering.js"></script>
<script src="/frontend/src/bower_components/videogular/videogular.js"></script>
<script src="/frontend/src/bower_components/subtitles-parser/subtitles.parser.min.js"></script>
<script src="/frontend/src/bower_components/angular-block-ui/dist/angular-block-ui.min.js"></script>
<script src="/frontend/src/bower_components/angular-payments/lib/angular-payments.js"></script>
<script src="/frontend/src/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<!-- inject:js -->
<!-- endinject -->

<script type="text/javascript">
    $(document).ready(function () {
        $('#table_id').DataTable();
    });
</script>
<!-- endbuild -->
<script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>

</body>
</html>
