<div class="container" ng-controller="StaticController">
    <header>
        <h3 class="page-header">About Us</h3>
    </header>
    <section>
        <p>
            Welcome to ChineseVault.com, we are a new website aiming to revolutionize studying Mandarin Chinese.
            Our dictionary allows users to not only search for words but also to save new vocabulary,
            and study these words through our online flashcard program.
            You can access your vocabulary anywhere you have an internet connection.
            There are heaps of new features coming soon so stay tuned.
        </p>
    </section>
</div>
