<div class="container" ng-controller="DictionaryController">
    <div class="row">
        <form>
            <div class="col-sm-8">
                <div class="form-group">
                    <label class="sr-only" for="queryField">Email address</label>
                    <input
                        id="queryField"
                        tabindex="1"
                        class="form-control search-field"
                        type="search"
                        placeholder="有, yǒu, you3..."
                        ng-model="query" />
                </div>
            </div>
            <div class="col-sm-4 search-button-container">
                <button type="submit" class="btn btn-block">Search</button>
            </div>
        </form>
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">Options</div>
                <div class="panel-body" style="text-align: center">
                    <div class="col-md-5 col-lg-5 dictionary-options">
                        Show Results:
                        <a ng-class="'options-items ' + classForOption('results', 'chinese')" ng-click="setOption('results', 'chinese')">Chinese</a>
                        <a ng-class="'options-items ' + classForOption('results', 'english')" ng-click="setOption('results', 'english')">English</a>
                        <a ng-class="'options-items ' + classForOption('results', 'both')" ng-click="setOption('results', 'both')">Both</a>
                    </div>
                    <div class="col-md-5 col-lg-5 dictionary-options">
                        Show Characters:
                        <a ng-class="'options-items ' + classForOption('characters', 'simplified')" ng-click="setOption('characters', 'simplified')">Simplified</a>
                        <a ng-class="'options-items ' + classForOption('characters', 'traditional')" ng-click="setOption('characters', 'traditional')">Traditional</a>
                        <a ng-class="'options-items ' + classForOption('characters', 'both')" ng-click="setOption('characters', 'both')">Both</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="small-css-spinner" ng-show="!loadedFlag && query.length > 0"></div> -->
    <div block-ui="myBlockUI">
        <div class="panel" ng-show="loadedFlag && query.length > 0 && (options.results === 'both' || options.results === 'chinese')">
            <div class="panel-heading">Chinese Results <span class="small">(Showing {$ searchResults.chinese_visible.length $} of {$ searchResults.chinese_total_count $})</span></div>
            <div class="panel-body no-padding">
                <table class="table table-striped table-condensed search-table" ng-if="searchResults.chinese.length">
                    <tbody>
                        <tr ng-repeat="word in searchResults.chinese_visible">
                            <td class="column simplified wbr" ng-show="options.characters === 'simplified' || options.characters === 'both'"><a ui-sref="word({wordId: word.id})" ng-bind-html="word.simplified|asChinese:'s'|asHtml"></a></td>
                            <td class="column traditional wbr" ng-show="options.characters === 'traditional' || options.characters === 'both'"><a ui-sref="word({wordId: word.id})" ng-bind-html="word.traditional|asChinese:'t'|asHtml"></a></td>
                            <td class="column pinyin wbr">{$ word.pinyin_normalized $} <span ng-if="word.taiwanese_pinyin.length > 0">[<strong lang="zh-Hans">台</strong>. {$ word.taiwanese_pinyin $}]</span></td>
                            <td class="column meanings column-meaning "><span ng-repeat="meaning in word.meanings_references"><span>{$ $index+1 $}.</span><span class="meaning" ng-bind-html="meaning|asChinese:'s'|asHtml"></span></span></td>
                            <td class="column hsk"><span ng-show="word.hsk_level"><span>HSK </span><span ng-bind="word.hsk_level"></span></span></td>
                            <td class="column added"  ng-if="features.users"><span ng-class="word.added ? 'fa fa-check' : ''"  ng-show="word.added"></span></td>
                            <td class="column add"  ng-if="features.users"><span class="fa fa-plus-square-o" ng-click="openAddToListDialog(word)"></span></td>
                        </tr>
                    </tbody>
                </table>
                <span ng-if="!searchResults.chinese.length">No results</span>
            </div>

            <div class="less-results" ng-show="searchResults.chinese_visible.length > results_per_page">
                <span class="fa fa-chevron-up"></span>
                <a ng-click="collapseResults('chinese')"> &nbsp;Show less&nbsp; </a>
                <span class="fa fa-chevron-up"></span>
            </div>

            <div class="more-results" ng-show="searchResults.chinese_visible.length < searchResults.chinese_total_count">
                <span class="fa fa-chevron-down"></span>
                <a ng-click="addResults('chinese')">Show more</a>
                <span class="fa fa-chevron-down"></span>
            </div>
        </div>

        <div class="panel" ng-show="loadedFlag && query.length > 0 && (options.results === 'both' || options.results === 'english')">
            <div class="panel-heading">English Results <span class="small">(Showing {$ searchResults.english_visible.length $} of {$ searchResults.english_total_count $})</span></div>
            <div class="panel-body no-padding">
                <table class="table table-striped table-condensed search-table" ng-if="searchResults.english.length">
                    <tbody>
                        <tr ng-repeat="word in searchResults.english_visible">
                            <td class="column simplified wbr" ng-show="options.characters === 'simplified' || options.characters === 'both'"><a ui-sref="word({wordId: word.id})" ng-bind-html="word.simplified|asChinese:'s'|asHtml"></a></td>
                            <td class="column traditional wbr" ng-show="options.characters === 'traditional' || options.characters === 'both'"><a ui-sref="word({wordId: word.id})" ng-bind-html="word.traditional|asChinese:'t'|asHtml"></a></td>
                            <td class="column pinyin wbr">{$ word.pinyin_normalized $} <span ng-if="word.taiwanese_pinyin.length > 0">[<strong lang="zh-Hans">台</strong>. {$ word.taiwanese_pinyin $}]</span></td>
                            <td class="column meanings column-meaning"><span ng-repeat="meaning in word.meanings_references"><span>{$ $index + 1 $}.</span><span class="meaning" ng-bind-html="meaning|hilite:query|asChinese:'s'|asHtml"></span></span></td>
                            <td class="column added"  ng-if="features.users"><span ng-class="word.added ? 'fa fa-check' : ''"  ng-show="word.added"></span></td>
                            <td class="column add"  ng-if="features.users"><span class="fa fa-plus-square-o" ng-click="openAddToListDialog(word)"></span></td>
                        </tr>
                    </tbody>
                </table>
                <span ng-if="!searchResults.english.length">No results</span>
            </div>
            <div class="less-results" ng-show="searchResults.english_visible.length > results_per_page">
                <span class="fa fa-chevron-up"></span>
                <a ng-click="collapseResults('english')"> &nbsp;Show less&nbsp; </a>
                <span class="fa fa-chevron-up"></span>
            </div>

            <div class="more-results" ng-show="searchResults.english_visible.length < searchResults.english_total_count">
                <span class="fa fa-chevron-down"></span>
                <a ng-click="addResults('english')">Show more</a>
                <span class="fa fa-chevron-down"></span>
            </div>
        </div>
    </div>
</div>
