<!--suppress ALL -->
<div class="container" ng-controller="HomeController">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-6">
            <div class="panel panel-home dictionary diff-height">
                <div class="panel-heading">Dictionary</div>
                <div class="panel-body mainpage-panel-body">
                    <form class="row" ng-submit="submitQuery()">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="sr-only" for="home-search">Search</label>
                                <input type="search" class="form-control" id="home-search" placeholder="有, yǒu, you3 ..." name="query" ng-model="query" ng-change="submitQuery()" ng-model-options="{debounce:400}">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-block">Search</button>
                        </div>
                    </form>
                    <div class="container-fluid">
                        <div class="row dictionary-description">Dictionary is searchable in English, Pinyin (nihao, ni3hao3, or n&#x1D0;h&#x1CE;o) and Chinese (both Traditional and Simplified)</div>
                        <div class="row entries">
                            <ul>
                                <li>Latest Searches:</li>
                                <li ng-repeat="search in lastSearches"><a ui-sref="dictionary({q: search})" ng-bind-html="search|asChinese|asHtml"></a></li>
                            </ul>
                        </div>
                        <div class="row entries">
                            <ul>
                                <li>Random Entries:</li>
                                <li ng-repeat="character in randomCharacters"><a ui-sref="word({wordId: character.id})" ng-bind-html="character.simplified|asChinese|asHtml"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-6" ng-if="!isAuthenticated() && features.users">
            <div class="panel panel-home signup diff-height">
                <div class="panel-heading">Sign Up</div>
                <div class="panel-body mainpage-panel-body" >
                    <p>Signing up allows you to save words and content and enjoy an experience customized to your Chinese level. It only take two minutes and best of all it's</p> 
                    <h3 class="marginTop" style="text-align: center;">100% Free</h3><br/>
                    <form class="row" ng-submit="submitSignup()">
                        <div class="col-sm-8 col-xs-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="sr-only" for="signup-email">Email address</label>
                                    <input type="email" class="form-control" id="signup-email" name="email" ng-model="$parent.email" placeholder="Email Address">
                                    <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <button type="submit" class="btn btn-block">Create Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-6" ng-if="features.lessons">
            <div class="panel panel-home lessons">
                <div class="panel-heading">Lessons</div>
                <div class="panel-body" >
                    <phua-small-lesson-list></phua-small-lesson-list>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-6" ng-if="features.lessons">
            <div class="panel panel-home  practice">
                <div class="panel-heading">Practice</div>
                <div class="panel-body">
                    <div class="col-xs-6 text-center">
                        <img class="medium-image" src="/static/images/flashcards.png" />
                        <h4>Flashcards</h4>
                        <div class="marginTop">
                            <a ui-sref="test-settings" class="btn btn-sm">Start</a>
                        </div>
                        <div>
                            <a ui-sref="test({quick:true})" class="btn btn-sm">Quick Test</a>
                        </div>
                    </div>
                    <div class="col-xs-6 text-center">
                        <img class="medium-image" src="/static/images/headphones.png" />
                        <h4>Listening</h4>
                        <div class="marginTop">
                            <a href="#" class="btn btn-sm">Tones</a>
                        </div>
                        <div>
                            <a href="#" class="btn btn-sm">Words</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-6" ng-if="features.studyContent">
            <div class="panel panel-home  studycontent">
                <div class="panel-heading">Study content</div>
                <div class="panel-body" >
                    <phua-small-study-content-list></phua-small-study-content-list>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-6">
            <div class="panel panel-home  resources">
                <div class="panel-heading">Resources</div>
                <div class="panel-body">
                    <dl>
                        <dt><a ui-sref="resources_pinyin_chart">Pinyin Chart</a></dt><dd>A reference chart showing all possible Pinyin combinations</dd>
                        <dt><a ui-sref="resources_char_freq">Chinese Character Frequency</a></dt><dd>Want to know how common a character is? Here you can find the frequency for more than 5,000</dd>
                        <dt><a ui-sref="resources_word_freq">Chinese Word Frequency</a></dt><dd>Use this list to make sure you are studying the most commonly used words</dd>
                        <dt><a ui-sref="resources_word_chart">Measure Word Chart</a></dt><dd>A useful reference chart reminding you about the most commonly used measure words</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
