<div class="container" ng-controller="TextToolController">
    <div class="row">

        <div class="col-xs-12 col-md-3 col-md-push-9">

            <div class="panel" ng-show="!result.analyzeFinished">
                <div class="panel-heading">Instructions</div>
                <div class="panel-body">
                    <p>Select either Chinese or Pinyin input method to get started.</p>
                    <p>In Chinese Mode you can enter Hanzi and get the text separated into separate words, simply click a word to find the definition and to add it to your study materials. You can also have the text annotated with Pinyin or convert all the text to simplified or traditional characters.</p>
                    <p>In the Pinyin Mode you can easily convert between number pinyin (ni3hao3) and proper pinyin (pinyin).</p>
                </div>
            </div>

            <div class="panel" ng-show="result.analyzeFinished && controlPanel.language != 'pinyin' && controlPanel.analyze != 'off'">
                <div class="panel-heading">Analysis</div>
                <div class="panel-body">
                    <form  class="form-horizontal  text-left" role="form" ng-if="result.words.length">
                        <label class="control-label" for="SortBy">Sort By</label>
                        <div class="form-group ">
                            <select class="form-control input-sm analysis-dropdown"  name="SortBy" ng-model="controlPanel.select.sortby">
                                <option value="0">In Order of Occurrence</option>
                                <option value="1">In Order of Occurrence (Group Similar entries)</option>
                                <option value="2">Most Commonly Occurring</option>
                            </select>
                        </div>

                        <label class="control-label" for="Show">Show</label>
                        <div class="form-group ">
                            <select class="form-control input-sm  analysis-dropdown"  name="Show" ng-model="controlPanel.select.show">
                                <option value="0" ng-selected="selected">All Words</option>
                                <option value="1">Only words not in flashcards</option>
                                <option value="2">Only Words already in flashcard Lists</option>
                            </select>
                        </div>
                    </form>
                    <table class="table table-striped table-condensed search-table" ng-if="result.words.length">
                        <tbody>
                            <tr ng-repeat="word in result.words | orderBy: 'position' | showFilter: controlPanel.select">
                                <td ng-show="!controlPanel.traditional" class="column simplified wbr">
                                    <a href="#" class="texttool-span-no-space" ng-class="{'texttool-hgltd': result.origtext.selected.simplified == word.simplified}" ng-click="selectWord(word)">{$ word.simplified $}</a>
                                </td>
                                <td ng-show="controlPanel.traditional" class="column traditional wbr">
                                    <a href="#" class="texttool-span-no-space"ng-class="{'texttool-hgltd': result.origtext.selected.traditional == word.traditional}" ng-click="selectWord(word)">{$ word.traditional $}</a>
                                </td>
                                <td class="column">{$ word.occurence $}</td>
                                <td class="column added">
                                    <span ng-class="word.added ? 'fa fa-check' : ''"  ng-show="word.added"></span>
                                </td>
                                <td class="column add">
                                    <span class="fa fa-plus-square-o" ng-click="openAddToListDialog(word, categories, destinationCategory)"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="col-xs-12 col-md-9 col-md-pull-3">
            <div class="panel">

                <div class="panel-heading" >Text</div>

                <div class="panel-body texttool_toolbar">
                    <div class="col-xs-12 col-sm-3 col-md-3 texttool_cell"  role="group">
                        <form>
                            <div class="col-xs-4">
                                <label class="texttool_label">Input mode</label>
                            </div>
                            <div class="col-xs-8">
                                <input type="radio" name="inputLang" ng-model="controlPanel.language" ng-change="saveAndLoadState('chinese')" value="chinese">Chinese<br>
                                <input type="radio" name="inputLang" ng-model="controlPanel.language" ng-change="saveAndLoadState('pinyin')" value="pinyin">Pinyin
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 texttool_cell" role="group">
                        <form>
                            <div class="col-xs-3">
                                <label class="texttool_label">Pinyin</label>
                            </div>
                            <div class="col-xs-8 col-xs-offset-1">
                                <select ng-model="controlPanel.pinyin">
                                    <option value="pinyin">Convert all to Pinyin</option>
                                    <option value="pin1yin1">Convert all to Pin1yin1</option>
                                    <option value="pinyin_annotate" ng-show="controlPanel.language == 'chinese'">Annotate with Pinyin</option>
                                    <option value="pin1yin1_annotate" ng-show="controlPanel.language == 'chinese'">Annotate with Pin1yin1</option>
                                    <option value="off" ng-show="controlPanel.language == 'chinese'">Off</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 texttool_cell" ng-show="controlPanel.language == 'chinese'" role="group">
                        <form>
                            <div class="col-xs-3">
                                <label class="texttool_label">Simp./Trad.</label>
                            </div>
                            <div class="col-xs-8 col-xs-offset-1">
                                <select ng-model="controlPanel.tradorsimpl">
                                    <option value="simplified">View as Simplified</option>
                                    <option value="traditional">View as Traditional</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="panel-body" ng-show="!result.analyzeFinished && controlPanel.language.length" >
                    <form ng-submit="submitText(textarea)"  novalidate>
                        <textarea rows="15" ng-model="result.original" class="form-control texttool-textbox" placeholder="Enter your text here to have it analyzed. Click on any word to see the definition. Find all the words you don't know in the Analysis panel and add them to flashcard lists so that you don't forget them."></textarea>
                        <div class="panel-footer">
                            <button class="form-control btn" type="submit">Analyze</button>
                        </div>
                    </form>
                </div>

                <div class="panel-body" ng-show="result.analyzeFinished">

                    <!-- Chinese -->

                    <div ng-show="controlPanel.language == 'chinese' && controlPanel.pinyin != 'off'" >
                        <div class="texttool-textbox" ng-show="controlPanel.pinyin == 'pinyin'">
                           <span ng-repeat="word in result.origtext.words track by $index" | orderBy: 'position'>
                                <span>{$ word.pinyin_normalized $}</span>
                            </span>
                        </div>
                        <div class="texttool-textbox" ng-show="controlPanel.pinyin == 'pin1yin1'">
                           <span ng-repeat="word in result.origtext.words track by $index" | orderBy: 'position'>
                                <span>{$ word.pinyin $}</span>
                            </span>
                        </div>
                    </div>
                    <div ng-show="controlPanel.language == 'chinese' && result.words.length && controlPanel.pinyin != 'pinyin' && controlPanel.pinyin != 'pin1yin1'" >
                        <p ng-show="controlPanel.analyze == 'on'">Click any word below to discover the meaning</p>
                        <div class="texttool-textbox-no-space" ng-show="controlPanel.tradorsimpl == 'simplified'">
                            <span ng-repeat="word in result.origtext.words track by $index" | orderBy: 'position'>
                                <span class="texttool-span-no-space" ng-if="word.simplified" ng-click="result.origtext.selected = word; selectWord(word)" ng-class="{'texttool-hgltd': controlPanel.analyze == 'on' && result.origtext.selected.simplified == word.simplified, 'annotated-span': controlPanel.pinyin == 'pin1yin1_annotate' || controlPanel.pinyin == 'pinyin_annotate'}">{$ word.simplified $}
                                <span ng-show="controlPanel.pinyin == 'pin1yin1_annotate'">{$ word.pinyin $}</span>
                                <span ng-show="controlPanel.pinyin == 'pinyin_annotate'">{$ word.pinyin_normalized $}</span>
                                </span>
                                <span class="texttool-span-no-space" ng-if="!word.simplified">{$ word $}</span>
                            </span>
                        </div>
                        <div class="texttool-textbox-no-space" ng-show="controlPanel.tradorsimpl == 'traditional'">
                            <span ng-repeat="word in result.origtext.words track by $index" | orderBy: 'position'>
                                <span class="texttool-span-no-space annotated-span" ng-if="word.traditional" ng-click="result.origtext.selected = word; selectWord(word)" ng-class="{'texttool-hgltd': controlPanel.analyze == 'on' && rresult.origtext.selected.traditional == word.traditional}">{$ word.traditional $}
                                <span ng-show="controlPanel.pinyin == 'pin1yin1_annotate'">{$ word.pinyin $}</span>
                                <span ng-show="controlPanel.pinyin == 'pinyin_annotate'">{$ word.pinyin_normalized $}</span>
                                </span>
                                <span class="texttool-span-no-space" ng-if="!word.traditional">{$ word $}</span>
                            </span>
                        </div>
                    </div>

                    <!-- PinYin -->

                    <div ng-show="controlPanel.language == 'pinyin' && controlPanel.pinyin != 'pin1yin1'">
                        <div class="texttool-textbox" >
                            <p ng-bind-html="result.pinyin | nl2br"></p>
                        </div>
                    </div>
                    <div ng-show="controlPanel.language == 'pinyin' && controlPanel.pinyin == 'pin1yin1'">
                        <div class="texttool-textbox">
                            <p ng-bind-html="result.pin1yin1 | nl2br"></p>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="form-control btn" ng-click="newAnalysis()">New Analysis</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
